@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');


.top{
    background-color: #5e068a;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-family: 500;
}
.qs{
  padding-top: 12px;  
  padding-bottom: 12px;
}
.ph{
  padding-top: 12px;  
  padding-bottom: 12px;
}
.pull-right{
    float: right!important;
}
ul li a{
    color: #2d3e50!important;
display: block;
font-weight: 600!important; 
text-decoration: none;
text-transform: uppercase;
 padding: 27 0px; 
font-size: 13px;
margin-right: 19px;
/* font-family: 'Mulish', sans-serif; */
}
ul li a:hover{
    color:#5e068a!important;
}

body{
    height: 2000px;
}
.mlabel{
     margin-left: 100px; 
}
.card-title{
font-size: 18px;
line-height: 25px;
margin-bottom: 15px;
font-weight: 700;
color: #5e068a;
margin-top: 20px;
}

.btn
{
font-weight: 700;
text-transform: uppercase;
background-color: #5e068a;
padding: 12px 20px;
color: #fff;
text-decoration: none;

}

@media only screen and (max-width: 992px) {
ul li a{
    font-size: 13px!important;
}
}
@media only screen and (max-width: 992px) {
   .ph{
       padding-top: 12px!important;
    }
    }
    @media only screen and (max-width: 320px) {
        .ph{
            font-size: 11px!important;
            padding-top: 0px!important;
            padding-bottom: 0px!important;
            text-align: center!important;
         }

         .qs{
            font-size: 11px!important;
            padding-top: 8px!important;
            padding-bottom: 0px!important;
            text-align: center!important;
           
         }
         .top{
           
            height: 70px!important;
            
        }
         }

      .section h1{
        font-size: 32px;
margin-bottom: 20px;
padding-top: 22px;
color: #5e068a;
font-weight: 700;
max-width: 540px;
line-height: 1.2;
text-transform: capitalize;
     }
     
     
     h1 span:nth-child(1)  
     {
         color:#5e068a99;
     } 
     .section p{
        line-height: 28px;
margin-bottom: 12px;
font-size: 16px; 
font-family: 'Mulish', sans-serif!important;
color: #414141;
     }
     .course{
         font-size: 15px;
         border-radius: 50px;
background-color: #5e068a;
color: white;
text-transform: uppercase;
padding: 16px 27px;
border: 2px solid #5e068a;
margin-top: 20px;
     }
     .course:hover{
         background-color: white;
         color:#5e068a ;
     }
     .courseimg
     {
         width: 100%;
         vertical-align: middle;
     }
     .row p{
         font-size: 16px;
         color: #414141;
         line-height: 26px;
         font-family: 'Mulish', sans-serif!important;
     }
     .card{
         background-color: white;
     }
     .btn-purple{
        font-weight: 700;
        text-transform: uppercase;
        background-color: #5e068a!important;
        padding: 12px 20px;
        color: #fff!important;
        text-decoration: none;
     }
     .bkgrd{
         background-color: #f5f5f5;
         height: 570px;
        
     }
     .section{
        margin-top: 35px!important;
     }
     .cards{
         margin-top:35px!important;
         /* height: 200px; */
     }

    
       .content{
         height: 445px;
       }
       @media only screen and (max-width: 768px){
       .content {
        height: 571px!important;
    }
    .bkgrd {
       
        height: auto;
    }
    .center{
        display: block;
      margin-left: auto;
      margin-right: auto;
    }
}
@media only screen and (max-width: 320px){
    .content {
     height: 413px!important;
 }
 .bkgrd {
       
    height: auto;
}
.course{
 /* padding: 2px 0px;
 font-size: 10px; */
 font-size: 9px!important;
padding-left: 2px!important;
padding-right: 4px!important;
padding-top: 2px!important;
padding-bottom: 2px!important;
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
/* .nav-item:hover{
background-color: #5e068a;
color: white!important;

} */

}

.navbar-light .navbar-toggler {
    
    border:none!important;
   
}

    .first {
        padding-left:86px !important;
    }
    @media only screen and (max-width: 320px){
        .first {
            padding-left:0px !important;
        }
    }
    @media only screen and (max-width:768px){
        .first {
            padding-left:0px !important;
        }
    }
    .learn{
        font-size: 15px;
        border-radius: 50px;
background-color: #5e068a;
color: white;
text-transform: uppercase;
padding: 16px 27px;
border: 2px solid #5e068a;
margin-top: 20px;
    }
    .learn:hover{
        background-color: white;
        color:#5e068a ;
    }
    